In [ ]:
from datasets import load_dataset
import pandas as pd
import numpy as np

Data: https://huggingface.co/datasets/Cainiao-AI/LaDe

In [2]:
ds = load_dataset("Cainiao-AI/LaDe", streaming=True)
print(ds)

IterableDatasetDict({
    train: IterableDataset({
        features: Unknown,
        num_shards: 14
    })
})

In [3]:
ds.keys()

dict_keys(['train'])

In [4]:
train = ds["train"]
sample_iter = train.shuffle(seed=42).take(10000)
df = pd.DataFrame(sample_iter)

df.head()

,order_id,from_dipan_id,from_city_name,delivery_user_id,poi_lng,poi_lat,aoi_id,typecode,receipt_time,receipt_lng,receipt_lat,sign_time,sign_lng,sign_lat,ds
0,698874e11b0d210e4586274114288778,4126aff79b11158c3181cd02b5747016,杭州市,240a284909e577d08d49f5f671430187,1.042352e+07,-7.594308e+06,582d47eefe21ee13d2361d073f4e1d77,203ac3454d75e02ebb0a3c6f51d735e4,03-18 17:08:00,1.042547e+07,-7.593416e+06,03-18 18:42:00,None,None,318
1,dfbe435bab2c490251c714b463d2700d,32ee03c02fa79c1d53e8fe01156c2863,杭州市,811d6958f99eb0de70d2e97d31fb63ba,1.041402e+07,-7.589769e+06,d0f685dd6c6ced88011bbfd8a6482a00,fe76dff35bb199cdb7329eba2b918f18,03-18 16:56:00,1.041347e+07,-7.591632e+06,03-18 17:16:00,None,None,318
2,295aa7cd77ed29713e900d5d9ee843ba,30330a823baf6442fe3a3efa3f10aebc,上海市,de542215e326c9394163b4cda8c2f429,1.056384e+07,-7.475921e+06,5e577b097ec1a16bbc48f8a90fe00a1f,203ac3454d75e02ebb0a3c6f51d735e4,03-18 13:18:00,1.056287e+07,-7.475695e+06,03-18 15:03:00,None,None,318
3,f0c2180b28329574e3eaedb01316ae0f,fe4b0880307873de265970ba5d0128d2,重庆市,1afc0138069d35206aa90ce8f42107a4,8.908732e+06,-7.688857e+06,3baac3a5c7959d94917578e7646e1a5d,203ac3454d75e02ebb0a3c6f51d735e4,03-18 15:04:00,8.909401e+06,-7.692811e+06,03-18 16:12:00,None,None,318
4,476e2aec3fa5afe9716b583dc6cb5cdc,0d9b8762d4530e2945c402ddd7c0a79e,上海市,2dc3fd756fa5db1e769cf6d32ef958a3,1.054766e+07,-7.468834e+06,2bd17d1629f490497557dd3933fffc2d,fe76dff35bb199cdb7329eba2b918f18,03-18 15:38:00,1.054761e+07,-7.471315e+06,03-18 17:06:00,None,None,318

In [5]:
df.columns

Index(['order_id', 'from_dipan_id', 'from_city_name', 'delivery_user_id',
       'poi_lng', 'poi_lat', 'aoi_id', 'typecode', 'receipt_time',
       'receipt_lng', 'receipt_lat', 'sign_time', 'sign_lng', 'sign_lat',
       'ds'],
      dtype='object')

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          10000 non-null  object
 1   from_dipan_id     10000 non-null  object
 2   from_city_name    10000 non-null  object
 3   delivery_user_id  10000 non-null  object
 4   poi_lng           10000 non-null  float64
 5   poi_lat           10000 non-null  float64
 6   aoi_id            10000 non-null  object
 7   typecode          9971 non-null   object
 8   receipt_time      10000 non-null  object
 9   receipt_lng       10000 non-null  float64
 10  receipt_lat       10000 non-null  float64
 11  sign_time         10000 non-null  object
 12  sign_lng          0 non-null      object
 13  sign_lat          0 non-null      object
 14  ds                10000 non-null  int64
dtypes: float64(4), int64(1), object(10)
memory usage: 1.1+ MB
None

In [7]:
df.head()

,order_id,from_dipan_id,from_city_name,delivery_user_id,poi_lng,poi_lat,aoi_id,typecode,receipt_time,receipt_lng,receipt_lat,sign_time,sign_lng,sign_lat,ds
0,698874e11b0d210e4586274114288778,4126aff79b11158c3181cd02b5747016,杭州市,240a284909e577d08d49f5f671430187,1.042352e+07,-7.594308e+06,582d47eefe21ee13d2361d073f4e1d77,203ac3454d75e02ebb0a3c6f51d735e4,03-18 17:08:00,1.042547e+07,-7.593416e+06,03-18 18:42:00,None,None,318
1,dfbe435bab2c490251c714b463d2700d,32ee03c02fa79c1d53e8fe01156c2863,杭州市,811d6958f99eb0de70d2e97d31fb63ba,1.041402e+07,-7.589769e+06,d0f685dd6c6ced88011bbfd8a6482a00,fe76dff35bb199cdb7329eba2b918f18,03-18 16:56:00,1.041347e+07,-7.591632e+06,03-18 17:16:00,None,None,318
2,295aa7cd77ed29713e900d5d9ee843ba,30330a823baf6442fe3a3efa3f10aebc,上海市,de542215e326c9394163b4cda8c2f429,1.056384e+07,-7.475921e+06,5e577b097ec1a16bbc48f8a90fe00a1f,203ac3454d75e02ebb0a3c6f51d735e4,03-18 13:18:00,1.056287e+07,-7.475695e+06,03-18 15:03:00,None,None,318
3,f0c2180b28329574e3eaedb01316ae0f,fe4b0880307873de265970ba5d0128d2,重庆市,1afc0138069d35206aa90ce8f42107a4,8.908732e+06,-7.688857e+06,3baac3a5c7959d94917578e7646e1a5d,203ac3454d75e02ebb0a3c6f51d735e4,03-18 15:04:00,8.909401e+06,-7.692811e+06,03-18 16:12:00,None,None,318
4,476e2aec3fa5afe9716b583dc6cb5cdc,0d9b8762d4530e2945c402ddd7c0a79e,上海市,2dc3fd756fa5db1e769cf6d32ef958a3,1.054766e+07,-7.468834e+06,2bd17d1629f490497557dd3933fffc2d,fe76dff35bb199cdb7329eba2b918f18,03-18 15:38:00,1.054761e+07,-7.471315e+06,03-18 17:06:00,None,None,318

In [8]:
df.describe()

            poi_lng       poi_lat   receipt_lng   receipt_lat       ds
count  1.000000e+04  1.000000e+04  1.000000e+04  1.000000e+04  10000.0
mean   1.007490e+07 -7.576321e+06  1.007481e+07 -7.576444e+06    318.0
std    7.005347e+05  8.300331e+04  7.007143e+05  8.308586e+04      0.0
min    8.811461e+06 -7.790129e+06  8.820494e+06 -7.724967e+06    318.0
25%    8.963789e+06 -7.654581e+06  8.973471e+06 -7.654680e+06    318.0
50%    1.042954e+07 -7.590699e+06  1.042940e+07 -7.590285e+06    318.0
75%    1.056204e+07 -7.480310e+06  1.056159e+07 -7.481022e+06    318.0
max    1.062570e+07 -7.445174e+06  1.061674e+07 -7.445788e+06    318.0

In [9]:
df_columns = [
    'order_id',
    'from_dipan_id',
    'from_city_name',
    'delivery_user_id',
    'poi_lng',
    'poi_lat',
    'aoi_id',
    'typecode',
    'receipt_time',
    'receipt_lng',
    'receipt_lat',
    'sign_time',
    'ds'
]

In [10]:
df = df[df_columns].copy()
df.to_csv("data/lade_cleaned.csv", index=False)